@charset "utf-8";

@font-face {
	font-family: 'PTSans-Bold';
	src: url('../fonts/PTSans-Bold.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/PTSans-Bold.woff') format('woff'),
		 url('../fonts/PTSans-Bold.ttf')  format('truetype'),
		 url('../fonts/PTSans-Bold.svg#PTSans-Bold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'icomoon';
	src: url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),  
		 url('../fonts/icomoon.woff') format('woff'),
		 url('../fonts/icomoon.ttf')  format('truetype'),
		 url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'RobotoBold';
	src: url('../fonts/RobotoBold.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/RobotoBold.woff') format('woff'),
		 url('../fonts/RobotoBold.ttf')  format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'RobotoLight';
	src: url('../fonts/RobotoLight.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/RobotoLight.woff') format('woff'),
		 url('../fonts/RobotoLight.ttf')  format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'RobotoMedium';
	src: url('../fonts/RobotoMedium.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/RobotoMedium.woff') format('woff'),
		 url('../fonts/RobotoMedium.ttf')  format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'RobotoRegular';
	src: url('../fonts/RobotoRegular.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/RobotoRegular.woff') format('woff'),
		 url('../fonts/RobotoRegular.ttf')  format('truetype');
	font-weight: normal;
	font-style: normal;
}

html,
body {
	position: relative;
}
body {
	min-width: 1000px;
	text-align: center;
	font-size: 18px;
    line-height: 30px;
	font-family: 'RobotoRegular', Arial;
	overflow-x: hidden;
	-webkit-text-size-adjust: none;
	color: #393939;
}
a{
	text-decoration: none;
	color: #744d4d;
}
li{
	list-style: none;
}
h1,h2,h3,h4,h5,h6{
	font-weight: normal;
}
label.error{
	display: none !important;
}
input.error,textarea.error{
	border: 1px solid #F00 !important;
	box-shadow: 0 0px 0px 1px #F00;
}
.ps-lines{

}
	.ps-lines li.v{
		position: fixed;
		left: 50%;
		height: 100%;
		width: 1px;
		top: 0px;
		background-color: #00ffff;
		opacity: 0.8;
		z-index: 9999;
	}
	.ps-lines li.g{
		position: absolute;
		left: 0px;
		width: 100%;
		height: 1px;
		background-color: #00ffff;
		opacity: 0.8;
		z-index: 9999;
	}
.fancybox-inner{
	overflow: visible !important;
}
.bold{
	font-family: 'RobotoBold';
}
.underline{
	text-decoration: underline;
}
.white{
	color: #FFF !important;
}
.b{
	position: relative;
}
.b-block{
	text-align: left;
	position: relative;
	width: 1152px;
	margin: 0px auto;
}
.b-absolute{
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: -500px;
}
input::-webkit-input-placeholder {
	color: #777;
}
input:-moz-placeholder {
	color: #777;
}
[class^="icon-"]:before, 
[class*=" icon-"]:before  {
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.b-text {
    text-align: left;
    font-size: 18px;
    line-height: 30px;
	font-family: 'RobotoRegular', Arial;
	color: #393939;
}

	.b-text ul li{

	}

.b-btn{
	font-family: 'RobotoMedium';
	font-size: 16px;
	color: #FFF;
	border-radius: 100px;
    display: inline-block;
    line-height: 21px;
    min-width: 200px;
    box-sizing: content-box;
    padding: 16px 25px 19px 25px;
}

.b-btn-brown-header{
	background-color: rgba(87,65,65,0.7);
	min-width: 300px;
	font-size: 18px;
	padding: 20px 0;
	letter-spacing: 0.5px;
}
	.b-btn-brown-header:hover{
		background-color: rgb(87,65,65);
	}

.b-btn-white-header{
	background-color: rgba(255,255,255,0.8);
	color: #744d4d;
	font-size: 18px;
	min-width: 300px;
	padding: 20px 0;
	letter-spacing: 0.5px;
}
	.b-btn-white-header:hover{
		background-color: rgb(255,255,255);
	}

.b-btn-orange{
	background-image: linear-gradient(159deg, #ffbd39 0%, #fc4d3f 100%);
}
	.b-btn-orange:hover{
		
	}

.b-btn-blue{
	background-image: linear-gradient(128deg, #1bedff 0%, #2a5da9 100%, #2e3192 100%);
}
	.b-btn-blue:hover{
		
	}

.b-btn-brown{
	background-image: linear-gradient(157deg, #ac8484 0%, #744d4d 100%);
}
	.b-btn-brown:hover{
		
	}

.b-btn-transparent{
	font-size: 14px;
	min-width: 180px;
	padding: 7px 0;
	border: 2px solid #FFF;
	background-color: transparent;
}
	.b-btn-transparent:hover{
		color: #4a4a4a;
		background-color: #FFF;
	}

.b-1{
	
}

h1.b-title{
	text-align: center;
	font-size: 36px !important;
	font-family: "RobotoBold", Arial;
	padding-top: 10px;
	padding-bottom: 41px;
	line-height: 48px;
	color: #603b3c;
}

h2.b-title{
	text-align: center;
	font-size: 36px !important;
	font-family: "RobotoRegular", Arial;
	padding-top: 55px;
	margin-bottom: 50px;
	line-height: 48px;
	color: #574141;
}

h3.b-title{
	font-size: 26px !important;
	font-family: "RobotoBold", Arial;
	padding-top: 0px;
	margin-bottom: 15px;
	line-height: 32px;
	color: #393939;
}

.b-title b{
	font-family: 'RobotoBold';
	font-weight: normal;
}

.b-wide-block{
	padding-bottom: 70px;
}

.no-margin-bottom{
	margin-bottom: 0 !important;
}

.center-buttons{
	text-align: center;
}

.hide{
	display: none;
}

.dashed{
	border-bottom: 1px dashed #744d4d;
}

	.dashed:hover{
		border-bottom: 0;
	}

/*-------------Главная-------------*/

.b-main-header{

}

.header-back{
	position: relative;
	margin: 0 auto 70px auto;
	height: 679px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

	.b-header-block{
		position: absolute;
		top: 60px;
		left: 0;
		right: 0;
		padding: 59px 74px 74px 74px;
		background-position: 50% 50%;
		background-repeat: no-repeat;
	}

		.phone{
			font-size: 26px;
			font-family: 'RobotoBold';
			color: #744d4d;
			letter-spacing: 0.72px;
		}

		.icon-phone{
		    display: inline-block;
		    position: relative;
		    margin-bottom: 6px;
		}

		.icon-phone:before{
			content: "\e907";
		  	font-size: 22px;
		  	color: #744d4d;
		  	margin-right: 8px;
		}

		.b-footer .icon-phone:before{
			content: "\e907";
		  	font-size: 19px;
		  	color: #FFF;
		  	margin-right: 8px;
		  	vertical-align: middle;
		}

		.b-footer .icon-phone{
			text-align: right;
			display: block;
			font-size: 20px;
			letter-spacing: 0.56px;
		}

		.request-call{
			font-size: 16px;
			letter-spacing: 0.44px;
		}

		.b-header-content{
			margin-top: 17px;
			margin-bottom: 61px;
		}

		.b-header-content li, .b-header-content p{
			text-transform: uppercase;
			font-family: 'RobotoBold';
			color: #744d4d;
		}

			.b-main-menu{
				margin-top: 55px;
				float: left;
			}
				.b-main-menu li{
					margin-bottom: 18px;
				}
				.b-main-menu li:last-child{
					margin-bottom: 0;
				}
					.b-main-menu li a{
						font-size: 22px;
					}

			.b-logo-cont{
				width: 157px;
				margin: 0 auto;
			}
				.b-logo{
					display: block;
				    background-position: 50% 50%;
				    background-repeat: no-repeat;
				    background-image: url(../i/logo.png);
				    background-size: 157px;
				    width: 157px;
				    height: 293px;
				}
				.b-logo-text{
					font-size: 14px;
					letter-spacing: 0.39px;
					line-height: 18px;
					margin-top: 17px;
					text-align: center;
				}
			.b-header-video{
				float: right;
				margin: 125px 97px 0 0;
			}
				.video-circle{
					margin: 0 auto;
					width: 91px;
					height: 91px;
					border: 5px solid #744d4d;
					border-radius: 50%;
				}
				.video-play{
					display: block;
				    width: 0;
				    height: 0;
				    border: 16px solid transparent;
				    border-left: 28px solid #744d4d;
				    margin: 24px 0 0 31px;
				}
				.b-block-video-cont .video-circle{
					margin: 0 auto;
					width: 130px;
					height: 130px;
					border: 5px solid #FFF;
					border-radius: 50%;
				}
				.b-block-video-cont .video-play{
					display: block;
				    width: 0;
				    height: 0;
				    border: 27px solid transparent;
				    border-left: 45px solid #FFF;
				    margin: 34px 0 0 41px;
				}

				.b-header-video p{
					text-align: center;
					line-height: 24px;
					margin-top: 19px;
				}

		.b-header-buttons{
			text-transform: uppercase;
			font-family: 'RobotoBold';
		}

			.b-header-buttons .b-btn:first-child{
				margin-right: 30px;
			}

.b-block-advantages{

}

	.b-block-advantages .b-block{
		width: 1056px;
	}

	.advantages-list li{
		float: left;
		display: inline-block;
		width: 33.3%;
		margin-bottom: 46px;
		line-height: 32px;
	}
		.advantages-list li p{
			width: 80%;
			margin: 0 auto;
			text-align: center;
			font-size: 22px;
			color: #4a4a4a;
		}

	.advantage-item{
		width: 140px;
		height: 140px;
		border-radius: 50%;
		margin: 0 auto;
		margin-bottom: 20px;
	}

	.b-block-advantages [class^="icon-"]:before, 
	.b-block-advantages [class*=" icon-"]:before{
		display: inline-block;
		color: #FFF;
	}

	.icon-orgs{
		background-image: linear-gradient(135deg, #d4ed23 0%, #34a53d 100%);
	}	
		.icon-orgs:before{
			content: "\e906";
	  		font-size: 80px;
	  		margin: 30px 35px;
		}
	.icon-eqiup{
		background-image: linear-gradient(135deg, #ffbd39 0%, #fc4d3f 100%);
	}	
		.icon-eqiup:before{
			content: "\e902";
	  		font-size: 80px;
	  		margin: 32px 33px;
		}
	.icon-lift{
		background-image: linear-gradient(135deg, #1bedff 0%, #2a5da9 100%, #2e3192 100%);
	}	
		.icon-lift:before{
			content: "\e905";
	  		font-size: 80px;
	  		margin: 30px 31px;
		}
	.icon-bus{
		background-image: linear-gradient(135deg, #c5c3ff 0%, #4b49c6 100%);
	}	
		.icon-bus:before{
			content: "\e901";
	  		font-size: 82px;
	  		margin: 30px 31px;
		}
	.icon-foto{
		background-image: linear-gradient(135deg, #ffcffe 0%, #c021bd 100%);
	}	
		.icon-foto:before{
			content: "\e903";
	  		font-size: 64px;
	  		margin: 38px 30px;
		}
	.icon-boy{
		background-image: linear-gradient(135deg, #ffeb2b 0%, #fb872b 100%);
	}	
		.icon-boy:before{
			content: "\e900";
	  		font-size: 76px;
	  		margin: 32px 32px;
		}

.b-block-tours{
	background-color: #f7f7f7;
}
	.tour-list{
		margin-bottom: 26px;
	}
		.tour-item{
			position: relative;
			display: inline-block;
			width: calc(100%/2 - 12px);
			height: 230px;
			margin-bottom: 15px;
			background-color: #FFF;
			-webkit-box-shadow: 0px 5px 16px 0px rgba(150,150,150, 0.6);
			-moz-box-shadow:    0px 5px 16px 0px rgba(150,150,150, 0.6);
			box-shadow:         0px 5px 16px 0px rgba(150,150,150, 0.6);
		}

			.tour-left{
				float: left;
				position: relative;
				display: inline-block;
				height: 230px;
				width: 41%;
			}

				.tour-left-content{
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					transition: all 300ms ease-in-out;
				    -webkit-transition: all 300ms ease-in-out; /** Chrome & Safari **/
				    -moz-transition: all 300ms ease-in-out; /** Firefox **/
				    -o-transition: all 300ms ease-in-out; /** Opera **/
				}

					.tour-date{
						position: absolute;
						top: 56px;
						left: 0;
						right: 0;
						transition: opacity 300ms ease-in-out;
					    -webkit-transition: opacity 300ms ease-in-out; /** Chrome & Safari **/
					    -moz-transition: opacity 300ms ease-in-out; /** Firefox **/
					    -o-transition: opacity 300ms ease-in-out; /** Opera **/
					}

					.time-start{
						position: absolute;
						top: 16px;
						left: 0;
						right: 0;
						opacity: 0;
						transition: opacity 300ms ease-in-out;
					    -webkit-transition: opacity 300ms ease-in-out; /** Chrome & Safari **/
					    -moz-transition: opacity 300ms ease-in-out; /** Firefox **/
					    -o-transition: opacity 300ms ease-in-out; /** Opera **/
					}

					.time-finish{
						position: absolute;
						top: 148px;
						left: 0;
						right: 0;
						opacity: 0;
						transition: opacity 300ms ease-in-out;
					    -webkit-transition: opacity 300ms ease-in-out; /** Chrome & Safari **/
					    -moz-transition: opacity 300ms ease-in-out; /** Firefox **/
					    -o-transition: opacity 300ms ease-in-out; /** Opera **/
					}

					.weekday-or-weekend{
						position: absolute;
						top: 156px;
						left: 0;
						right: 0;
						opacity: 1;
						transition: opacity 300ms ease-in-out;
					    -webkit-transition: opacity 300ms ease-in-out; /** Chrome & Safari **/
					    -moz-transition: opacity 300ms ease-in-out; /** Firefox **/
					    -o-transition: opacity 300ms ease-in-out; /** Opera **/
					}

			.tour-item:hover .tour-left-content{
			    transform: translate(0,14px);
			    -webkit-transform: translate(0,14px); /** Chrome & Safari **/
			    -o-transform: translate(0,14px); /** Opera **/
			    -moz-transform: translate(0,14px); /** Firefox **/
			}

				.tour-item:hover .time-start,
				.tour-item:hover .time-finish{
					opacity: 1;
				}

				.tour-item:hover .weekday-or-weekend{
					opacity: 0;
				}

			.tour-right{
				position: relative;
				float: right;
				display: inline-block;
				height: 230px;
				width: 58.8%;
				background-position: 50% 50%;
    			background-size: cover;
			}

				.time-start,
				.time-finish{
					font-size: 18px;
					font-family: 'RobotoLight';
				}

				.orgs-padding{
					padding: 14px 57px;
				}

				.time-finish{
					padding-top: 7px;
				}
		
				/***Анимация правого блока***/

				.image-blur{
					position: absolute;
					top: 0;
					left: 0;
					height: 100%;
					width: 100%;
					opacity: 0;
					transition: all 300ms ease-in-out;
				    -webkit-transition: all 300ms ease-in-out; /** Chrome & Safari **/
				    -moz-transition: all 300ms ease-in-out; /** Firefox **/
				    -o-transition: all 300ms ease-in-out; /** Opera **/
				}

				.orgs-mask{
					position: absolute;
					top: 0;
					left: 0;
					background-color:rgba(0,0,0,.4);
				    height: 100%;
					width: 100%;
					opacity: 0;
					transition: all 300ms ease-in-out;
				    -webkit-transition: all 300ms ease-in-out; /** Chrome & Safari **/
				    -moz-transition: all 300ms ease-in-out; /** Firefox **/
				    -o-transition: all 300ms ease-in-out; /** Opera **/
				}

				.tour-right h3{
					opacity: 0;
					text-align: center;
					font-family: 'RobotoBold';
					font-size: 18px;
					color: #FFF;
					margin-bottom: 28px;
					transition: all 300ms ease-in-out;
				    -webkit-transition: all 300ms ease-in-out; /** Chrome & Safari **/
				    -moz-transition: all 300ms ease-in-out; /** Firefox **/
				    -o-transition: all 300ms ease-in-out; /** Opera **/
				    transition-delay: 200ms;
				}

				.orgs-block{
					opacity: 0;
					margin-bottom: 23px;
					transition: all 300ms ease-in-out;
				    -webkit-transition: all 300ms ease-in-out; /** Chrome & Safari **/
				    -moz-transition: all 300ms ease-in-out; /** Firefox **/
				    -o-transition: all 300ms ease-in-out; /** Opera **/
				    transition-delay: 200ms;
				}

					.orgs-item{
						display: inline-block;
						width: 105px;
					}
						.orgs-item-img{
							margin: 0 auto;
							width: 50px;
						    display: block;
						    height: 50px;
						    border-radius: 100px;
						    background-position: 50% 50%;
						    background-repeat: no-repeat;
						    background-size: 50px;
						}

						.orgs-item-name{
							font-size: 14px;
							color: #FFF;
						}

				.tour-right .center-buttons{
					opacity: 0;
					transition: all 300ms ease-in-out;
				    -webkit-transition: all 300ms ease-in-out; /** Chrome & Safari **/
				    -moz-transition: all 300ms ease-in-out; /** Firefox **/
				    -o-transition: all 300ms ease-in-out; /** Opera **/
				    transition-delay: 200ms;
				}

				.tour-item:hover .tour-right h3,
				.tour-item:hover .orgs-mask,
				.tour-item:hover .image-blur,
				.tour-item:hover .orgs-block,
				.tour-item:hover .tour-right .center-buttons{
					opacity: 1;
				}

				.tour-item:hover .tour-right h3{
					transform: translate(0,14px);
				    -webkit-transform: translate(0,14px); /** Chrome & Safari **/
				    -o-transform: translate(0,14px); /** Opera **/
				    -moz-transform: translate(0,14px); /** Firefox **/
				}

				.tour-item:hover .tour-right .center-buttons{
					transform: translate(0,-14px);
				    -webkit-transform: translate(0,-14px); /** Chrome & Safari **/
				    -o-transform: translate(0,-14px); /** Opera **/
				    -moz-transform: translate(0,-14px); /** Firefox **/
				}

		.tour-item p{
			text-align: center;
		}

	.tour-item:nth-child(2n+1){
		margin-right: 18px;
	}
			.tour-date p{
				text-align: center;
				color: #4a4a4a;
			}
				.date-start, .date-finish{
					font-family: 'RobotoBold';
					font-size: 36px;
				}
				.weekday-or-weekend{
					font-family: 'RobotoLight';
					font-size: 22px;
					padding-bottom: 10px;
				}
				.tour-dash{
					width: 40px;
					height: 1px;
					background-color: #ababab;
					margin: 14px auto 11px auto;
				}
				.time-start, .time-finish{
					font-size: 18px;
				}

		.tour-orgs{
			display: inline-block;
		}

.b-block-book-it{

}

	.b-block-book-it h2{
		margin-bottom: 20px;
	}

	.b-block-book-it p{
		font-family: 'RobotoLight';
		font-size: 26px;
		text-align: center;
		color: #574141;
	}

	.b-block-book-it .b-btn:first-child{
		margin-right: 24px;
	}

	.b-block-book-it .b-title-first{
		margin-bottom: 14px;
	}

	.b-block-book-it .b-title-second{
		padding-top: 15px;
		margin-bottom: 41px;
	}

.b-block-video{

}
	.b-block-video .b-title{
		margin-bottom: 122px;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		z-index: 5;
	}

	.b-block-video .b-block-click{
		width: 380px;
	}

	.video-list{
		height: 650px;
	}
		.video-item{
			height: 650px !important;
			background-position: 50% 50%;
		    background-size: cover;
		}
			.video-item .b-title{
				font-family: 'RobotoRegular';
			}

			.b-block-video-cont{
				font-family: 'RobotoRegular';
				font-size: 26px;
				text-align: center;
				line-height: 36px;
				color: #FFF;
			}

				.b-block-video-cont .video-circle{
					margin-top: 226px;
					margin-bottom: 36px;
				}

	.b-block-video .slick-dots {
	    bottom: 41px;
	    width: auto;
	    left: 10px;
	    right: 0;
	}

	.b-block-video .slick-dotted.slick-slider {
	    margin-bottom: 0 !important;
	}

	.b-block-video .slick-dots li {
	    margin-right: 15px;
	}

	.b-block-video .slick-dots li.slick-active button:before {
	    opacity: 1;
	    color: #fff;
	}

	.b-block-video .slick-dots li button:before {
	    font-size: 18px;
	    color: #fff;
	    opacity: 0.7;
	}

.b-block-reviews{

}
	.review-list{
		margin-bottom: 50px;
		padding: 0 64px;
	}
		.review-item{
			display: inline-block;
			float: left;
			width: 512px;
			padding: 0 34px;
			text-align: center;
		}
			.b-img-cont{
				padding: 6px;
			    border-radius: 100px;
			    width: 152px;
			    height: 152px;
		    	display: inline-block;
		    	-webkit-box-shadow: 0px 6px 18px 0px rgba(170,170,170, 0.8);
				-moz-box-shadow:    0px 6px 18px 0px rgba(170,170,170, 0.8);
				box-shadow:         0px 6px 18px 0px rgba(170,170,170, 0.8);
				margin-bottom: 18px;
			} 
				.b-img-cont.b-img-green{
					background-image: linear-gradient(135deg, #ede923 0%, #34a53d 100%);
				}
				.b-img-cont.b-img-orange{
					background-image: linear-gradient(135deg, #ffbd39 0%, #fc4d3f 100%);
				}

			.b-img{
			    background-size: cover;
			    width: 140px;
			    height: 140px;
			    border-radius: 100px;
			    background-position: 50% 50%;
			    background-repeat: no-repeat;
			}

			.foto-with-tour{
				line-height: 26px;
    			display: inline-block;
			}

			.icon-foto-mini{
				margin-bottom: 21px;
			}

			.icon-foto-mini:before{
				padding-top: 8px;
			    display: inline-block;
			    content: "\e904";
			    font-size: 18px;
			    color: #744d4d;
			    margin-right: 9px;
			    vertical-align: top;
			}
		
.b-footer{
	padding: 58px 0;
	background-position: 50% 50%;
    background-size: cover;
    background-image: url(../i/footer-back.jpg);
    color: #FFF;
}
	.b-footer-up{
		margin-bottom: 23px;
	}
		.b-footer p, .b-footer h2, .b-footer a, .b-footer span{
			color: #FFF;
			text-align: left;
			font-size: 16px;
		}

		.b-footer h2{
			margin-bottom: 20px;
			font-size: 20px;
			font-family: 'RobotoBold';
		}

		.b-footer-up p{
			line-height: 26px;
		}

		.b-footer-column{
			display: inline-block;
			float: left;
			margin-right: 70px;
		}
		div.b-footer-column:last-child {
		    margin-right: 0px;
		    float: right;
		    text-align: right;
		}
			.b-footer-column h2{
				text-transform: uppercase;
				font-size: 20px;
			}

		.info-margin-right{
			margin-right: 83px;
		}

		.b-footer-logo{
			display: block;
		    background-position: 50% 50%;
		    background-repeat: no-repeat;
		    background-image: url(../i/footer-logo.png);
		    background-size: 80px;
		    width: 80px;
			height: 151px;
		}

		.b-footer-text{
			width: 259px;
		}
			.b-footer ul li{
				margin-bottom: 10px;
				line-height: 26px;
			}
				.b-footer ul li a:hover{
					border-bottom: 1px solid #FFF;
				}

		.b-footer .phone{
			margin-bottom: 18px;
		}

		.b-social{
			float: right;
			margin-bottom: 14px;
		}

			.icon-vk:before{
				content: "\e90b";
			  	font-size: 14px;
			  	color: #FFF;
			  	line-height: 42px;
			}
				.b-social a.icon-vk:hover:before{
					color: #946262;
				}

			.icon-instagram:before{
				content: "\e909";
			  	font-size: 20px;
			  	color: #FFF;
			  	line-height: 40px;
			}
				.b-social a.icon-instagram:hover:before{
					color: #946262;
				}

			.icon-facebook:before{
				content: "\e908";
			  	font-size: 20px;
			  	color: #FFF;
			  	line-height: 40px;
			}
				.b-social a.icon-facebook:hover:before{
					color: #946262;
				}

			.icon-telegram:before{
				content: "\e90a";
			  	font-size: 18px;
			  	color: #FFF;
			  	line-height: 40px;
			}
				.b-social a.icon-telegram:hover:before{
					color: #946262;
				}

		.b-footer .b-footer-address{
			text-align: right;
			line-height: 26px;
		}

	.social-item{
		margin-right: 15px;
	}

	.social-item:last-child{
		margin-right: 0;
	}

	.b-social a{
		display: block;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		background-color: transparent;
		text-align: center;
		font-size: 0px;
	}

	.b-social a:hover{
		background-color: #FFF;
	}

	.b-redder-logo{
		float: right;
	    background-position: 50% 0%;
	    background-repeat: no-repeat;
	    background-image: url(../i/logo-redder.png);
	    width: 80px;
	    height: 14px;
	    background-size: 80px;
	}

.b-video-arrows.icon-arrow-left{
	position: absolute;
    left: 0px;
    top: 289px;
    cursor: pointer;
    z-index: 1;
}

	.b-video-arrows.icon-arrow-left:before{
		content: "\e90d";
		font-size: 75px;
	}

.b-video-arrows.icon-arrow-right{
	position: absolute;
    right: 0px;
    top: -361px;
    cursor: pointer;
    z-index: 1;
}

	.b-video-arrows.icon-arrow-right:before{
		content: "\e90e";
		font-size: 75px;
	}

.b-rewiews-arrows.icon-arrow-left{
	position: absolute;
    left: 0px;
    top: 154px;
    cursor: pointer;
    z-index: 1;
}

	.b-rewiews-arrows.icon-arrow-left:before{
		content: "\e90d";
		font-size: 75px;
	}

.b-rewiews-arrows.icon-arrow-right{
	position: absolute;
    right: 0px;
    top: 154px;
    cursor: pointer;
    z-index: 1;
}

	.b-rewiews-arrows.icon-arrow-right:before{
		content: "\e90e";
		font-size: 75px;
	}

.b-video-arrows.icon-arrow-left:before,
.b-video-arrows.icon-arrow-right:before{
	color: rgba(255,255,255,0.5);
}

.b-video-arrows.icon-arrow-left:hover:before,
.b-video-arrows.icon-arrow-right:hover:before{
	color: rgba(255,255,255,1);
}

.b-rewiews-arrows.icon-arrow-left:before,
.b-rewiews-arrows.icon-arrow-right:before{
	color: rgba(74,74,74,0.5);
}

.b-rewiews-arrows.icon-arrow-left:hover:before,
.b-rewiews-arrows.icon-arrow-right:hover:before{
	color: rgba(74,74,74,1);
}

/*-------------Header-------------*/

.b-header{
	background-position: 50% 50%;
    background-repeat: no-repeat;
}

	.b-top{
		padding-top: 34px;
		margin-bottom: 20px;
	}

	.b-small-logo-cont{
		text-align: center;
		display: inline-block;
		width: 132px;
		margin-right: 56px;
	}

		.b-logo-min{
			display: block;
			background-position: 50% 50%;
		    background-repeat: no-repeat;
		    background-image: url(../i/small-logo.png);
		    background-size: 132px;
		    width: 132px;
		    height: 33px;
		    margin-bottom: 8px;
		}

		.b-small-logo-cont p{
			color: #744d4d;
			font-size: 10px;
			font-family: 'RobotoBold';
			line-height: 12px;
			text-transform: uppercase;
		}

	.b-header a {
	    color: #744d4d;
	}

	h1, .b-main-title {
	    text-align: center;
	    font-size: 36px;
	    line-height: 48px;
	    color: #744d4d;
	}

	.b-content .b-block {
	    padding: 32px 0px 64px;
	}

	.b-half-button {
	    text-align: center;
	    margin-top: -60px;
	    margin-bottom: 28px;
	    z-index: 20;
	    position: relative;
	}

	.b-menu{
		display: inline-block;
		line-height: 34px;
	}

		.b-menu li {
		    float: left;
		    position: relative;
		    padding: 0 18.5px;
		}

			.b-menu li a{
				font-family: 'RobotoBold';
				font-size: 14px;
			    text-transform: uppercase;
			}

			.b-menu li.active a{
				border-bottom: 2px solid #744d4d;
			}

	ul.b-breadcrumbs {
	    display: inline-block;
	    text-align: center;
	}

		ul.b-breadcrumbs li {
		    float: left;
		}
			ul.b-breadcrumbs li a{
				font-family: "RobotoRegular";
			    font-size: 16px;
			}

		ul.b-breadcrumbs li:after {
		    position: relative;
		    content: "/";
		    font-size: 16px;
		    padding: 3px 0px;
		    display: block;
		    float: left;
		    line-height: 16px;
		    font-family: "RobotoRegular";
		    color: #744d4d;
		    margin-left: 8px;
		    margin-right: 8px;
		}

		ul.b-breadcrumbs li:last-child:after {
		    display: none;
		}

		ul.b-breadcrumbs a, ul.b-breadcrumbs span {
		    padding: 3px 0px;
		    font-size: 12px;
		    display: block;
		    float: left;
		    line-height: 16px;
		}

	.b-top-table {
	    display: table;
	    width: 100%;
	}

	.table-cell{
		display: table-cell;
    	vertical-align: middle;
	}

	.b-header .b-top-contacts{
		display: inline-block;
		text-align: right;
		line-height: 38px;
	}

	.b-header .phone{
		line-height: 27px;
		font-size: 22px;
		letter-spacing: 0.61px;
	}

	.b-header .icon-phone{
		margin-bottom: 0;
	}

	.b-header .icon-phone:before{
		display: inline-block;
		vertical-align: middle;
	}

	.b-header .request-call{
		display: inline-block;
		line-height: 20px;
	}

	.b-header-title{
		text-align: center;
	}

/*-------------Отзывы-------------*/

.b-review{
	width: calc(100%/3 - 10px);
}

	.b-review .b-img-cont{
		float: left;
		display: inline-block;
	}

	.b-review-right{
		float: left;
		display: inline-block;
		padding: 30px 0 0 15px;
	}

	.b-review-link{
		position: relative;
	}

	.b-review-link:after {
	    text-decoration: none;
	    position: absolute;
	    right: -20px;
	    content: " →";
	    top: -3px;
	}


@media (-webkit-min-device-pixel-ratio: 1.5) {
	.b-logo{
	    background-image: url(../i/logo@2x.png);
	}
	.b-footer-logo{
		background-image: url(../i/footer-logo@2x.png);
	}
	.b-redder-logo{
	    background-image: url(../i/logo-redder@2x.png);
	}
}	
@media screen and (max-width: 1250px){
	
}
@media screen and (max-width: 1020px){

}