@charset "utf-8";

html,
body {
	position: relative;
}
body {
	min-width: 768px;
	text-align: center;
	font-size: 18px;
    line-height: 30px;
	font-family: 'RobotoRegular', Arial;
	overflow-x: hidden;
	-webkit-text-size-adjust: none;
	color: #393939;
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}
h1,h2,h3,h4,h5,h6{
	font-weight: 100;
}
label.error{
	display: none !important;
}
.ps-lines{

}
	.ps-lines li.v{
		position: fixed;
		left: 50%;
		height: 100%;
		width: 1px;
		top: 0px;
		opacity: 0.8;
		z-index: 9999;
	}
	.ps-lines li.g{
		position: absolute;
		left: 0px;
		width: 100%;
		height: 1px;
		opacity: 0.8;
		z-index: 9999;
	}
.fancybox-inner{
	overflow: visible !important;
}
.bold{
}
.underline{
	text-decoration: underline;
}
.white{
}
.b{
	position: relative;
}
.b-block{
	width: 100%;
	max-width: calc(100% - 48px);
	margin: 0 auto;
}

.b-top .b-block{
	text-align: center;
	max-width: 100%;
}

.b-top.b-top-fixed .b-block,
.b-top.b-top-hide .b-block{
	max-width: calc(100% - 48px);
}

.b-wide-block{
	
}

/*---------------------------*/

.b-header-block{
	padding-left: 6%;
	padding-right: 6%;
}

.b-main-header{

}

	.b-menu li {
	    padding: 0 14px;
    }
	.b-header-video{
		width: 35%;
		margin: 125px 0 0 0;
	}

	.b-small-logo-cont{
		float: left;
		margin-right: 0px;
	}

	.b-menu-cont{
		padding-top: 8px;
	}

	.b-menu-cont .b-line{
		top: 36px;
	}

.b-block-advantages{

}

	.advantages-list{
		width: 100%;
	}

		.advantages-list li p{
			font-size: 18px;
			line-height: 26px;
		}

.b-content .orgs-padding, .orgs-padding {
    padding: 14px 8px;
}

.review-item{
	font-size: 16px;
}

	.icon-foto-mini {
	    margin-bottom: 16px;
	}

		.icon-foto-mini:before{
			font-size: 16px;
			padding-top: 8px;
		}

	.review-item h3.b-title{
		font-size: 22px;
		margin-bottom: 10px;
	}

.b-tour-content{

	}
		.b-tour-content .orgs-padding{
			padding: 5px 8px;
		}

		.b-tour-content .tour-right h3{
			margin-bottom: 22px;
		}

		.b-tour-content .orgs-block{
			margin-bottom: 10px;
		}
		.b-tour-content .tour-price{
			display: block;
			float: none;
		}
		.b-tour-content .tour-price + .b-btn-transparent{
		    float: none;
		}

.b-review{
	width: calc(100%/2 - 17px);
	margin-right: 28px;
}

.b-review:nth-child(3n) {
    margin-right: 28px;
}

.b-review:nth-child(2n) {
    margin-right: 0;
}

.b-footer .b-footer-column{
    margin-right: 4%;
}

div.b-footer-column:last-child{
	margin-right: 0;
}

.b-hotel-foto-list .b-hotel-foto-item:nth-child(6n+4){
	height: calc((68vw - 48px) * 0.6657);
}

.b-hotel-foto-list .b-hotel-foto-item:nth-child(6n+1){
	height: calc((68vw - 48px) * 0.6657);
}

.b-hotel-foto-list .b-hotel-foto-item:nth-child(6n+2),
.b-hotel-foto-list .b-hotel-foto-item:nth-child(6n+3),
.b-hotel-foto-list .b-hotel-foto-item:nth-child(6n+5),
.b-hotel-foto-list .b-hotel-foto-item:nth-child(6n+6){
	height: calc((68vw - 48px) * 0.6657 / 2 - 12px);
}

.b-team-detail .slick-slide {
    height: 470px;
}

.b-team-detail-item {
    width: 650px;
    height: 470px;
}

.b-team-detail-info{
	padding: 0 35px;
}

.b-team-detail-info h3 {
    color: #FFF;
    font-size: 30px;
}

.b-team-detail-info .b-team-detail-text {
    font-size: 16px;
    line-height: 26px;
}

.b-team-info-cont {
    bottom: 30px;
    padding: 0 30px;
}

.b-team-wrap{
	margin: 0 14px;
}

.b-arrows-team-detail.icon-arrow-right{
    top: -275px;
}

.b-arrows-team-detail.icon-arrow-left{
    top: 197px;
}

@media screen and (max-width: 1095px){

	.b-top{
		padding-top: 10px;
	}

	.b-top .burger-menu{
		display: block;
	}

	.b-mobile-call{
		display: inline-block;
	}

	.b-menu-cont{
		display: none;
	}

	.b-top .b-top-contacts{
		display: none;
	}

	.b-top .b-block{
		text-align: left;
	}

	.b-small-logo-cont {
	    float: none;
	}

	.b-block-team{
		width: 590px;
	}

	.b-team-arrows.icon-arrow-right{
	    right: -67px;
	}

	.review-list{
		padding: 0 15px;
	}
}

@media screen and (max-width: 1024px){

	.b-hotel h3 {
	    font-size: 22px;
	    margin-bottom: 5px;
	}

		.b-hotel-text p {
		    font-size: 16px;
		    line-height: 26px;
		}

	.b-residence .advantages-list li {
	    width: 50%;
	    margin-bottom: 25px;
	}

	.b-residence .advantages-list li:nth-last-of-type(-n+2){
	    margin-bottom: 0;
	}

	.b-footer{
		background-position: 70% 50%;
	}

	.b-footer .b-footer-column:nth-child(2){
	    display: none;
	}

	.b-footer .b-footer-column{
	    margin-right: 63px;
	}
}

@media screen and (max-width: 900px){

	.b-header-buttons.position-buttons{
	    display: block;
	}

	.position-buttons{
		display: inline-block;
	}

	.header-back, .header-back.compress-header{
	    height: 680px;
	}

		.b-header-buttons .position-buttons .b-btn{
		    min-width: 280px;
		}

	.b-main-header{
		margin-bottom: 0;
	}

	.advantages-list li p{
		width: 90%;
	}

		.advantages-list li .advantage-text{
			font-size: 20px;
		}

	.orgs-padding {
	    padding: 4px 10px;
	}

	.orgs-item {
	    width: 80px;
	}

	.weekday-or-weekend{
		font-size: 18px;
	}

	.time-start, .time-finish {
	    font-size: 16px;
	}

	.date-start, .date-finish {
	    font-size: 32px;
	}

	.time-start {
	    top: 6px;
	}

	.tour-date {
	    top: 46px;
	}

	.weekday-or-weekend {
	    top: 146px;
	}

	.time-finish {
	    top: 138px;
	}

	.tour-item, .tour-left, .tour-right{
	    height: 210px;
	}

	.b-tour-content{

	}
		.b-tour-content .orgs-padding{
			padding: 0 8px;
		}

		.b-tour-content .tour-right h3{
			line-height: 22px;
			margin-bottom: 23px;
		}

		.b-tour-content .orgs-block{
			margin-bottom: 7px;
		}
		.b-tour-content .tour-price{
			display: block;
			float: none;
		}
		.b-tour-content .tour-price + .b-btn-transparent{
			margin-top: 4px;
		    display: block;
		    float: none;
		}

	.b-tour, .b-block-tour{
	    width: 400px;
	}

	.b-review {
	    margin-right: 18px;
	}

		.b-review .b-img-cont{
			width: 92px;
			height: 92px;
			margin-bottom: 0;
		}

		.b-review .b-img{
			width: 80px;
			height: 80px;
		}

		.b-review-right{
			padding-left: 16px;
		}

	.b-footer-column:nth-child(4){
	    margin-right: 0;
	}

	.passage-grid-column .passage-grid{
		margin-bottom: 16px;
	}

	.passage-grid-column{
		margin-right: 12px;
	}

	.b-foto-block{
		margin-left: -8px;
	}

	.grid-item{
		width: calc(100%/3 - 16px);
		margin: 8px;
	}

	.b-hotel-text {
	    padding: 0 20px 0 30px;
	}

	.b-team-list{
		width: calc(100% - 48px);
	}

	.b-team-detail-item {
	    width: 590px;
	}

	.b-review-header{
		margin-bottom: 16px;
	}
}