@charset "utf-8";

html,
body {
	position: relative;
}
body {
	min-width: 768px;
	text-align: center;
	font-size: 18px;
    line-height: 30px;
	font-family: 'RobotoRegular', Arial;
	overflow-x: hidden;
	-webkit-text-size-adjust: none;
	color: #393939;
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}
h1,h2,h3,h4,h5,h6{
	font-weight: 100;
}
label.error{
	display: none !important;
}
input.error{
	border-bottom: 1px solid #ff8686 !important;
}
.ps-lines{

}
	.ps-lines li.v{
		position: fixed;
		left: 50%;
		height: 100%;
		width: 1px;
		top: 0px;
		opacity: 0.8;
		z-index: 9999;
	}
	.ps-lines li.g{
		position: absolute;
		left: 0px;
		width: 100%;
		height: 1px;
		opacity: 0.8;
		z-index: 9999;
	}
.fancybox-inner{
	overflow: visible !important;
}
.bold{
}
.underline{
	text-decoration: underline;
}
.white{
}
.b{
	position: relative;
}
.b-block{
	width: 100%;
	max-width: calc(100% - 48px);
	margin: 0 auto;
}

.b-top .b-block{
	max-width: 100%;
}

.b-top.b-top-fixed .b-block{
	max-width: calc(100% - 48px);
}

.b-wide-block{
	
}

/*---------------------------*/

.b-main-header{

}

	.b-menu li {
	    padding: 0 14px;
    }
	.b-header-video{
		width: 35%;
		margin: 125px 0 0 0;
	}

	.b-small-logo-cont{
		margin-right: 12px;
	}

.b-block-advantages{

}

	.advantages-list{
		width: 100%;
	}

		.advantages-list li p{
			font-size: 18px;
			line-height: 26px;
		}

.b-content .orgs-padding, .orgs-padding {
    padding: 14px 8px;
}

.review-item{
	font-size: 16px;
}

	.icon-foto-mini {
	    margin-bottom: 16px;
	}

		.icon-foto-mini:before{
			font-size: 16px;
			padding-top: 8px;
		}

	.review-item h3.b-title{
		font-size: 22px;
		margin-bottom: 10px;
	}

.b-tour-content{

	}
		.b-tour-content .orgs-padding{
			padding: 5px 8px;
		}

		.b-tour-content .tour-right h3{
			margin-bottom: 22px;
		}

		.b-tour-content .orgs-block{
			margin-bottom: 10px;
		}
		.b-tour-content .tour-price{
			display: block;
			float: none;
		}
		.b-tour-content .tour-price + .b-btn-transparent{
		    float: none;
		}

.b-review{
	width: calc(100%/2 - 17px);
	margin-right: 28px;
}

.b-review:nth-child(3n) {
    margin-right: 28px;
}

.b-review:nth-child(2n) {
    margin-right: 0;
}

.b-footer .b-footer-column{
    margin-right: 38px;
}

div.b-footer-column:last-child{
	margin-right: 0;
}

.grid-item{
	width: 50%;
}

@media screen and (max-width: 1075px){

	.burger-menu{
		display: block;
	}

	.b-btn-call{
		display: block;
	}

	.b-header .b-menu-cont{
		display: none;
	}

	.b-header .b-top-contacts{
		display: none;
	}
}

@media screen and (max-width: 1024px){
	.b-footer .b-footer-column:nth-child(2){
	    display: none;
	}

	.b-footer .b-footer-column{
	    margin-right: 63px;
	}
}

@media screen and (max-width: 900px){

	.b-header-buttons .position-buttons{
	    display: block;
	}

	.position-buttons{
		display: inline-block;
	}

	.header-back, .header-back.compress-header{
	    height: 680px;
	}

		.b-header-buttons .position-buttons:first-child {
		    margin-right: 0;
		    margin-bottom: 15px;
		}

	.advantages-list li p{
		width: 90%;
	}

	.orgs-padding {
	    padding: 4px 10px;
	}

	.orgs-item {
	    width: 80px;
	}

	.weekday-or-weekend{
		font-size: 18px;
	}

	.time-start, .time-finish {
	    font-size: 16px;
	}

	.date-start, .date-finish {
	    font-size: 32px;
	}

	.time-start {
	    top: 6px;
	}

	.tour-date {
	    top: 46px;
	}

	.weekday-or-weekend {
	    top: 146px;
	}

	.time-finish {
	    top: 138px;
	}

	.tour-item, .tour-left, .tour-right{
	    height: 210px;
	}

	.b-tour-content{

	}
		.b-tour-content .orgs-padding{
			padding: 0 8px;
		}

		.b-tour-content .tour-right h3{
			line-height: 22px;
			margin-bottom: 23px;
		}

		.b-tour-content .orgs-block{
			margin-bottom: 7px;
		}
		.b-tour-content .tour-price{
			display: block;
			float: none;
		}
		.b-tour-content .tour-price + .b-btn-transparent{
			margin-top: 4px;
		    display: block;
		    float: none;
		}

	.b-tour, .b-block-tour{
	    width: 400px;
	}

	.b-review {
	    margin-right: 18px;
	}

		.b-review .b-img-cont{
			width: 92px;
			height: 92px;
			margin-bottom: 10px;
		}

		.b-review .b-img{
			width: 80px;
			height: 80px;
		}

		.b-review-right{
			padding: 14px 0 0 16px;
		}

	.b-footer-column:nth-child(4){
	    margin-right: 0;
	}

}

/*@media screen and (max-width: 767px){

	.advantages-list li{
		float: none;
		width: calc(50% - 10px);
	}

	.advantages-list li:nth-last-child(-n+3){
		margin-bottom: 46px;
	}

	.advantages-list li:nth-last-child(-n+2) {
	    margin-bottom: 0;
	}

	.tour-item {
		display: block;
	    width: calc(100% - 12px);
	}

	.b-footer-column:nth-child(3),
	.b-footer-column:nth-child(4){
	    display: none;
	}

	.b-redder-logo{
		top: auto;
		bottom: 7px;
    	right: 0;
	}

	.develop-block{
		float: none !important;
		display: block;
	}

}*/