@charset "utf-8";

html,
body {
	position: relative;
}
body {
	min-width: 600px;
	text-align: center;
	font-size: 18px;
    line-height: 30px;
	font-family: 'RobotoRegular', Arial;
	overflow-x: hidden;
	-webkit-text-size-adjust: none;
	color: #393939;
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}
h1,h2,h3,h4,h5,h6{
	font-weight: 100;
}
label.error{
	display: none !important;
}
input.error{
	border-bottom: 1px solid #ff8686 !important;
}
.ps-lines{

}
	.ps-lines li.v{
		position: fixed;
		left: 50%;
		height: 100%;
		width: 1px;
		top: 0px;
		opacity: 0.8;
		z-index: 9999;
	}
	.ps-lines li.g{
		position: absolute;
		left: 0px;
		width: 100%;
		height: 1px;
		opacity: 0.8;
		z-index: 9999;
	}
.fancybox-inner{
	overflow: visible !important;
}
.bold{
}
.underline{
	text-decoration: underline;
}
.white{
}
.b{
	position: relative;
}
.b-block{
	width: 100%;
	max-width: calc(100% - 48px);
	margin: 0 auto;
}
.b-wide-block{
	
}

/*---------------------------*/

.b-main-header{

}

	.b-main-header .b-block{
		max-width: 100%;
		width: 100%;
	}

		.b-header-block{
			position: static;
			padding: 31px 24px 40px;
		}

	.b-header-video{
		display: none;
	}
	.b-header-content .b-menu-cont{
		display: none;
	}

	.burger-menu{
		display: block;
		float: right;
		padding-top: 12px;
		color: #744d4d;

		font-family: 'RobotoMedium';
		font-size: 22px;
		line-height: 32px;
	}

		.icon-burger-menu:before{
			display: inline-block;
		    content: "\e910";
		    font-size: 22px;
		    color: #744d4d;
		    margin-right: 16px;
		    padding-bottom: 5px;
		    vertical-align: middle;
		}

	.phone{
		font-size: 18px;
		letter-spacing: 0;
	}

	.icon-phone{
		margin-bottom: 0;
	}

		.icon-phone:before {
		    font-size: 16px;
		}

	.request-call {
	    font-size: 14px;
	    letter-spacing: 0;
	}

.b-block-advantages{

}

	.advantages-list{
		width: 100%;
	}

		.advantages-list li p{
			font-size: 18px;
			line-height: 26px;
		}

.b-review{
	width: calc(100%/2 - 17px);
	margin-right: 28px;
}

.b-review:nth-child(3n) {
    margin-right: 28px;
}

.b-review:nth-child(2n) {
    margin-right: 0;
}

.b-footer .b-footer-column{
    margin-right: 38px;
}

div.b-footer-column:last-child{
	margin-right: 0;
}

.grid-item{
	width: 100%;
}

.b-header-buttons{
	margin: 0 50px;
}

	.b-header-buttons .b-btn:first-child {
	    margin-right: 0;
	    margin-bottom: 10px;
	}

.advantages-list li p{
	width: 80%;
}



.b-tour, .b-block-tour{
    width: 400px;
}

.b-review {
    margin-right: 18px;
}

.b-footer-column:nth-child(4){
    margin-right: 0;
}

.advantages-list li{
	float: none;
	width: calc(50% - 10px);
}

	.advantages-list li:nth-last-child(-n+3){
		margin-bottom: 46px;
	}

	.advantages-list li:nth-last-child(-n+2) {
	    margin-bottom: 0;
	}

.tour-item {
	display: block;
    width: 100%;
}

.b-footer-column:nth-child(2),
.b-footer-column:nth-child(3),
.b-footer-column:nth-child(4){
    display: none;
}

.b-redder-logo{
	top: auto;
	bottom: 7px;
	right: 0;
}

.develop-block{
	float: none !important;
	display: block;
}


.center-buttons{
	margin: 0 50px;
}

.tour-right .center-buttons{
	margin: 0 10px;
}

.b-block-book-it .b-btn:first-child{
	margin-right: 0;
	margin-bottom: 15px;
}

.b-btn-transparent{
	min-width: 0;
	padding: 7px 14px;
}

.b-review {
    width: calc(100% - 17px);
}

.orgs-padding {
    padding: 14px 14px;
}

.review-item{
	padding: 0 10px;
}

@media screen and (max-width: 600px){

}